<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Por ID</title>
</head>
<body>
    <div class="container">
        <h1>Pesquisar Missão por ID</h1>
        <form method="post" action="{{ url_for('search_mission_by_id') }}">
            <label for="mission_id">Digite o ID da Missão:</label>
            <input type="number" id="mission_id" name="mission_id" required>
            <br>
            <input type="submit" value="Buscar Missão">
        </form>
    </div>
</body>
</html>